.county-map-container {
  width: 100%;
  height: auto;

  .state-name {
    font-size: 1.478em;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
    color: $red;
    text-transform: capitalize;
  }
  .state-map {
    background: rgba(255, 255, 255, 0.125);
    border-radius: 5px;
  }
}

.content-tooltip {
  max-width: 200px;
  border-radius: 5px;
  font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier, monospace;
  line-height: 1.5em;
}
