.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 30px 0;

  .footer-img {
    height: 64px;
    width: auto;
    transition: all 0.3s ease-in;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .footer-text {
    font-size: 1.5em;
    margin: 20px 10px;

    @include mobile {
      font-size: 1.188em;
    }
  }
  .caption {
    font-size: 14px;
    margin-top: 4px;
    color: #555;

    @include mobile {
      font-size: 13.18px;
    }
  }
}
