.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .header-title {
    font-size: 2.7em;
    font-weight: 600;
    margin: 50px 0 30px 0;

    @include mobile {
      font-size: 1.5em;
      margin: 30px 0;
    }
  }

  .header-sub-container {
    background: $red;
    padding: 35px 30px;
    border-radius: 5px;
    color: #fff;

    @include mobile {
      padding: 25px 20px;
    }

    .header-subtitle {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 5px;

      @include mobile {
        font-size: 1.4em;
      }
    }

    .header-data {
      font-size: 1.3em;
      margin: 3px 0;
      line-height: 1.8em;
      position: relative;

      @include mobile {
        font-size: 1em;
      }
    }

    .header-caption {
      font-size: small;
      margin: 5px 0;
    }

    .sources {
      font-weight: 300;
      font-style: italic;
      font-size: smaller;
      color: rgba(255, 255, 255, 0.5);
      margin-top: 5px;

      a {
        color: $green;
        opacity: 0.85;
      }
    }
  }
}

.gif {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: $red;

  .gif-pop {
    visibility: hidden;
    min-width: 250px;
    min-height: 130px;
    font-size: small;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    margin-left: -137px;
  }

  .leadership {
    background-image: url('https://media.giphy.com/media/QugbVmA8EPmhNlmRKU/giphy-downsized-large.gif');

    @include mobile {
      left: 0;
    }
  }

  .currently {
    background-image: url('https://media.giphy.com/media/QMHoU66sBXqqLqYvGO/giphy.gif');

    @include mobile {
      left: 240%;
    }
  }

  &:hover {
    .gif-pop {
      visibility: visible;
    }
  }
}
