.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .header-title {
    font-size: 2.7em;
    font-weight: 600;
    margin: 50px 0 30px 0;

    @include mobile {
      font-size: 1.5em;
      margin: 30px 0;
    }
  }

  .header-sub-container {
    background: $red;
    padding: 35px 30px;
    border-radius: 5px;
    color: #fff;

    @include mobile {
      padding: 25px 20px;
    }

    .header-subtitle {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 5px;

      @include mobile {
        font-size: 1.4em;
      }
    }

    .header-data {
      font-size: 1.3em;
      margin: 5px 0;
      line-height: 1.815em;
      position: relative;

      @include mobile {
        font-size: 1em;
      }
    }

    .header-caption {
      font-size: small;
      margin: 5px 0;
    }

    .sources {
      font-weight: 300;
      font-style: italic;
      font-size: smaller;
      color: rgba(255, 255, 255, 0.5);
      margin-top: 5px;

      a {
        color: $green;
      }
    }
  }
}
