.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .header-title {
    font-size: 3em;
    font-weight: 600;
    margin: 50px 0 30px 0;
  }

  .header-sub-container {
    background: $red;
    padding: 40px;
    border-radius: 5px;
    
    .header-subtitle {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 5px;
    }
  
    .header-data {
      font-size: 1.5em;
      margin: 3px 0;
      line-height: 1.8em;
    }
  
    .header-caption {
      font-size: small;
      margin: 5px 0;
    }
  }
 
}