.home-container {

  .input-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .data-container {
    margin: 50px auto;
    font-size: 1.188em;
    line-height: 1.8em;

    @include mobile {
      font-size: 1em;
    }
  }
}