.home-container {
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .data-container {
    margin: 30px auto 50px auto;
    font-size: 1.188em;
    line-height: 1.8em;
    text-align: justify;

    @include mobile {
      font-size: 1em;
      margin: 30px auto;
    }
  }
}
