.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto 50px auto;

  .bar {
    width: 10px;
    height: 5px;
    margin: 2px;
    animation: bar 1.5s infinite ease-in-out;

    &:nth-child(1) {
      animation-delay: 0.1667s;
    }

    &:nth-child(2) {
      animation-delay: 0.3334s;
    }

    &:nth-child(3) {
      animation-delay: 0.5001s;
    }
    &:nth-child(4) {
      animation-delay: 0.6668s;
    }
    &:nth-child(5) {
      animation-delay: 0.8335s;
    }
  }
}

@keyframes bar {
  0% {
    transform: scaleY(1) scaleX(0.5);
    background: $blue;
  }

  50% {
    transform: scaleY(10) scaleX(1);
    background: $red;
  }

  100% {
    transform: scaleY(1) scaleX(0.5);
    background: $blue;
  }
}
