.navbar-container {
  width: 100%;
  position: relative;
  z-index: 99;

  .navbar {
    max-width: 1040px;
    min-height: 64px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.188em;

      .logo-top {
        color: $green;
      }

      .logo-bot {
        color: $red;
      }
    }
   

    .navbar-links {
      display: flex;
      flex-direction: row;

      .link {
        padding: 10px 20px;
        text-decoration: none;

        .link-text {
          position: relative;
          
          &:after {
            position: absolute;
            left: 0;
            bottom: -10px;
            right: 0;
            width: 100%;
            margin: auto;
            height: 4px;
            background: $green;
            transform: scaleX(0);
            content: '';
            transition: transform 0.3s;
          }
  
          &:hover {
            transition: 0.3s;
    
            &:after {
              transform: scaleX(1);
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}