.table-container {
  display: flex;
  justify-content: space-evenly;

  @include mobile {
    flex-direction: column;
    font-size: small;
  }

  .table-rank {
    width: 45%;

    @include mobile {
      width: 100%;
      margin: 20px 0;
    }

    .table-name {
      color: $red;
      text-align: center;
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .table {
      border-radius: 5px;
      font-weight: normal;
      border: none;
      border-collapse: collapse;
      width: 100%;
      white-space: nowrap;
      td, th {
        text-align: left;
        padding: 5px 20px;
      }

      tbody:nth-child(odd) {
        background: rgba(0, 0, 0, 0.1);
      }

      thead {
        background: $blue;
      }

      td {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
      }
    }
  }
}

.table-county {
  display: flex;

  .rank {

  }
  .county-container {
    display: flex;
    flex-direction: column;

    .county {
      word-break: break-word;
      white-space: pre-wrap
    }
    .pop {
      margin-left: 10px;
      font-size: smaller;
      font-weight: 200;
      color: rgba(0,0,0,0.5)
    }
  }
}