.table-container {
  display: flex;
  justify-content: space-evenly;

  @include mobile {
    flex-direction: column;
    font-size: small;
  }

  .table-rank {
    width: 45%;

    @include mobile {
      width: 100%;
      margin: 20px 0;
    }

    h1 {
      color: $red;
      text-align: center;
    }
    .table {
      border-radius: 5px;
      font-weight: normal;
      border: none;
      border-collapse: collapse;
      width: 100%;
      white-space: nowrap;
      td, th {
        text-align: left;
        padding: 5px 20px;
      }

      tbody:nth-child(odd) {
        background: rgba(0, 0, 0, 0.1);
      }

      thead {
        background: $blue;
      }

      td {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
      }
    }
  }
  
}