.table-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .right-container {
    display: flex;
    width: 44.5%;
    flex-direction: column;

    @include mobile {
      width: 100%;
      margin: 0;
    }
  }

  @include mobile {
    flex-direction: column;
    font-size: small;
  }

  .table-rank {
    width: 53%;

    @include mobile {
      width: 100%;
      margin: 20px 0;
    }

    .table-name {
      color: $red;
      text-align: center;
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .table {
      border-radius: 5px;
      font-weight: normal;
      border: none;
      border-collapse: collapse;
      width: 100%;
      white-space: nowrap;
      table-layout: fixed;

      td {
        text-align: left;
        padding: 0.75em 0.9em;
      }

      th {
        text-align: left;
        padding: 0.75em 0.9em 0 0.9em;
      }

      tbody:nth-child(odd) {
        background: rgba(0, 0, 0, 0.1);
      }

      thead {
        background: $blue;
        width: 100%;
        letter-spacing: -0.5px;

        .learn {
          color: #000;
        }

        th {
          min-width: 110px;
          font-weight: 500;
        }

        th:nth-child(1) {
          width: 30.625%;
        }
        th:nth-child(2) {
          width: 21.525%;
          white-space: pre-wrap;
        }
        th:nth-child(3) {
          width: 18.125%;
        }
        th:nth-child(4) {
          width: 15.125%;
        }
      }
      td {
        font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono,
          Bitstream Vera Sans Mono, Courier, monospace;
      }
    }
  }
  .caption {
    font-weight: 200;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
  }
}

.table-county {
  display: flex;

  .rank {
    color: rgba(0, 0, 0, 0.45);
  }
  .county-container {
    display: flex;
    flex-direction: column;

    .county {
      word-break: break-word;
      white-space: pre-wrap;
    }
    .pop {
      margin-left: 10px;
      font-size: smaller;
      color: rgba(0, 0, 0, 0.45);
      margin-top: 5px;
    }
  }
}
