@import 'breakpoints';
@import 'colors';

@import '../components/Header';
@import '../components/Home';
@import '../components/Table';
@import '../components/News';
@import '../components/Footer';

@import '../components/Loading';

@import '../components/maps/CountyMap';

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  scroll-behavior: smooth;
  margin: 0 auto;
  background: $base;
  max-width: 1040px;
  padding: 0 1.0875rem 1.45rem;
}

// testing containers

// *{
//   outline: 1px solid red;
//  }

html,
body {
  @include mobile {
    padding: 0 5px;
  }
}

button {
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 5px;
  background: $green;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

a {
  color: $blue;
}

strong {
  color: $base;
}

.input {
  max-width: 315px;
  background: #f1c2c1;
  border: none;
  outline: none;
  padding: 15px 10px;
  font-size: small;
  line-height: 1.5em;
  border-radius: 5px;
  position: relative;

  input {
    background: none;
    outline: none;
    border: none;
    width: 80%;
    margin: 0 10px;
    z-index: 10;
    flex: 1;
    position: relative;
  }
}

.number {
  font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier, monospace;
  font-weight: 500;
  color: $red;
  background: #000;
  padding: 5px;
  letter-spacing: 2px;
  border-radius: 5px;

  @include mobile {
    padding: 3px 5px;
  }
}

.date {
  font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier, monospace;
  opacity: 0.85;
}

.red {
  color: $red;
  font-weight: 700;
  text-decoration: underline;
}

.blue {
  color: $blue;
  font-weight: 700;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  max-width: 315px;
  width: 100%;
  top: 30px;
  left: -10px;
  border: none;
  font-size: small;
  letter-spacing: -0.2px;
  color: #000;
  padding: 0 10px;
  background: #f1c2c1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0 1.9px;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
}

.react-autosuggest__suggestion--highlighted {
  text-decoration: underline;
}

.background {
  padding: 5px;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  cursor: default;
  color: #fff;
  font-weight: 500;
  min-width: 40px;
  opacity: 0.9;

  &:hover {
    color: #000;
  }
}

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-style: italic;

  .tooltiptext {
    visibility: hidden;
    font-style: normal;
    min-width: 250px;
    font-size: small;
    background-color: $black;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    line-height: 2em;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 20%;
    margin-left: -137px;

    &:after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 52%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $black transparent;
    }
  }
  .two {
    @include mobile {
      left: 60%;
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}
.color-container {
  display: flex;
  align-items: center;

  .color {
    height: 16px;
    width: 16px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
  }
  .dark-red {
    background: #7f0000;
  }
  .red2 {
    background: $red;
  }
  .orange {
    background: #ffa500;
  }
  .yellow {
    background: #ffdb58;
  }
  .green {
    background: $green;
  }
}

.naked {
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: #000;

  .title {
    font-size: 1.188em;
    color: #000;
    font-weight: 600;
    text-align: left;
    letter-spacing: -0.5px;

    @include mobile {
      font-size: 0.9em;
    }
  }
  .pop {
    color: rgba(0, 0, 0, 0.75);
    margin-top: 5px;
    font-size: 1em;

    @include mobile {
      font-size: 0.85em;
    }
  }

  .ascending,
  .descending {
    text-align: left;
  }

  .ascending::after {
    content: '▴';
    transform: rotate(180deg);
    font-size: 1.3em;
    font-style: normal;
    display: inline-block;
    margin: -3px 0 auto 0;

    @include mobile {
      font-size: 0.9em;
    }
  }

  .descending::after {
    content: '▴';
    font-size: 1.3em;
    font-style: normal;
    display: inline-block;
    margin: -5px 0 auto 0;

    @include mobile {
      font-size: 0.9em;
    }
  }
}

.gif {
  position: relative;
  display: inline-block;

  .gif-pop {
    visibility: hidden;
    min-width: 250px;
    min-height: 130px;
    font-size: small;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    margin-left: -137px;

    @include mobile {
      display: none;
    }
  }

  .leadership {
    background-image: url('https://media.giphy.com/media/QugbVmA8EPmhNlmRKU/giphy-downsized-large.gif');
  }

  .currently {
    background-image: url('https://media.giphy.com/media/QMHoU66sBXqqLqYvGO/giphy.gif');
  }

  .cough {
    background-image: url('https://i.redd.it/pkc4xq2q5uq41.gif');
  }

  &:hover {
    .gif-pop {
      visibility: visible;
    }
  }
}
